<!-- Tag, Show, and Edit buttons -->

<% task.tag_list.each do |t| %>
<div class="button">
	<%= link_to(t, tag_path(t), remote: true) %>
</div>
<% end %>

<div class="button">
<% if task.details != "" %>
	<%= link_to(image_tag("show.png"), task_path(task), remote: true)%>
<% end %> 
</div>
<div class="button">
<%= link_to(image_tag("edit.png"), edit_task_path(task), remote: true)%>
</div>

