<section id="form" class="form-group">
	<%= form_with model: task do |form| %>       
	    <p>
	      <%= form.text_area :title, placeholder: "Title", class:"form-control form-control-lg" %> <br>
	      <%= form.text_area :tag_list, placeholder: "Multiple, Tags, Like, This", class:"form-control form-control-sm" %> <br>
	      <%= form.text_area :details, placeholder: "Details", class:"form-control form-control-sm form-details" %>
	    </p>
	<% end %>
</section>