<section class="main_form">
	<%= form_with model: task do |form| %>       
	    <p>
	      <%= form.text_area :title %> <br>
	      <%= form.text_area :tag_list %> <br>
	      <%= form.text_area :details %>
	    </p>
	<% end %>
</section>