<section id="form">
	<%= form_with model: task do |form| %>       
	    <p>
	      <%= form.text_area :title, placeholder: "Title" %> <br>
	      <%= form.text_area :tag_list, placeholder: "Tag" %> <br>
	      <%= form.text_area :details, placeholder: "Details" %>
	    </p>
	<% end %>
</section>