<%= form_with model: @task, scope: :task, local: true do |form| %>             
  <p>
    <%= form.label :todo %><br>
    <%= form.text_area :todo %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>