<h1> Hello World! </h1>

<section id="tasks">
	<%= render @tasks %>
</section>

<section id="title_form">
	<%= render partial: 'title_form', locals: {task: @task}%>
</section>

<section id="delete">
<%= link_to("Delete Completed", destroy_all_tasks_path, remote: true, method: :delete)%>
</section>
