/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.jumbotron {
	margin-bottom: 0rem;
	padding-left: 4rem;
}

.LHS {
	background-color: #404040;
	height: 40rem;
	padding-top: 2rem;
	padding-left: 4rem;
	line-height: 200%;
	color: white;
}

.RHS {
	padding-top: 2rem;
	padding-left: 2rem;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}


.actions {
	float: right;
}

.btn-outline-secondary{
	color: #495057;
	border-color: #ced4da;
}

.checked {
	text-decoration: line-through;
	color: #D3D3D3;
}

textarea.form-details {
	height: 200px
}

@media (min-width: 768px) {
}

@media (min-width: 768px) {
	.form-control {
		width: 50%;
	}
}




