/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

a, a:hover {
	color: inherit;
	text-decoration: none;
}

header {
	margin-top: 5%;
	margin-bottom: 5%;
}

footer {
	color: #990000;
	margin-top: 5%;
	font-weight: 100;
	font-size: 1.5rem;
}

#tasks {
	line-height: 2;
	margin-bottom: 5%;
}

.button{
	font-weight: 250;
	color: #606060;
	float: right;
	filter: brightness(90%);
}

.button:hover{
	background-color: #E0E0E0;
	border-radius: 5px;
	filter: brightness(100%);
	transition: 0.5s;
}

.details {
	font-weight: 200;
	font-size: 1rem;
	color: #808080;
}

.btn-outline-secondary{
	color: #495057;
	border-color: #ced4da;
}

.checked {
	color: #606060;
	text-decoration: line-through;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (min-width: 0px) {
	.jumbotron {
		margin-bottom: 0rem;
	}
}

@media (min-width: 992px) {
	.jumbotron {
		margin-bottom: 0rem;
		padding-left: 6rem;
	}

	.LHS {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}




